@import 'colors';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	background-color: #444;
}

nav {
	text-transform: uppercase;
}

.nav-link {
	color: $white;
}

.nav-link.active {
    color: $white;
}

.nav-link:hover {
	color: $blue-color;
}

.fa-bars {
    padding: 10px;
}

.navbar-brand {
    font-weight: bold;
    color: $white;
}

.active {
    color: $blue-color;
}